*,
::before,
::after {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

body {
  background: linear-gradient(#4da9ffa8, #265580a7), url(./DenverColorado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* nav bar */
.logo-name {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin: 0 1rem;
}

.nav {
  box-shadow: 1px 2px 20px #22222264;
}

.nav-btn {
  background-color: transparent;
  border-color: transparent;
  color: #eee;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-btn:hover {
  color: lightcoral;
  transition: color 0.3s ease-out;
}

.nav-header {
  background-color: #4da9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all linear 0.3s;
  background-color: lightblue;
}

.revel-links {
  height: 9.5rem;
}

.links li {
  list-style: none;
}

/* TODO - Change color to white once background image is found. */
.links a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #444444;
  display: block;
  transition: all linear 0.3s;
}

.links a:hover {
  background-color: #eee;
  transition: background-color 0.2s ease-out;
}

.about-section {
  margin-top: 1rem;
}

.about-center {
  text-align: center;
  margin: 0 auto;
  border: 4px #eee solid;
  border-radius: 15px;
  width: 80%;
  padding: 0.75rem;
}

.about-center h3::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 200px;
  height: 5px;
  margin: 0 auto;
}

.about-center p {
  width: 95%;
  margin: 1.5rem auto;
  color: #fff;
}

/* Destinations tab layout */

.destinations-section {
  padding-top: 5em;
  width: 95%;
  margin: 0 auto;
}

.destinations-header {
  margin: 1.5rem 0;
  text-align: center;
}
.destinations-header::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 275px;
  height: 5px;
  margin: 0 auto;
}

.tab {
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.tab-btn {
  background-color: #0076a8;
  color: #fff;
  width: 100%;
  height: 45px;
  border: none;
}

.tab-btn:hover {
  transition: background-color 0.5s ease-out;
  background-color: #44b2e1;
  cursor: pointer;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: 20px;
}

.tab-btn:nth-child(3) {
  border-top-right-radius: 20px;
}

.information {
  background: #44b2e1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
}

.info {
  display: none;
}

.info.active {
  display: block;
}

@media screen and (min-width: 800px) {
  .nav {
    background-color: #4da9ff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
  }

  .nav-btn {
    display: none;
  }

  .nav-header {
    background-color: transparent;
    padding: 1rem;
  }

  .links {
    margin: 1rem 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 50vw;
  }

  .about-section {
    margin-top: 8rem;
  }

  /* Destinations tab layout */

  .destinations-section {
    padding-top: 5em;
    width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 900px) {
  .destinations-section {
    width: 800;
  }
}
