*,
::before,
::after {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

/* nav bar */
.nav {
}

.nav-btn {
  background-color: transparent;
  border-color: transparent;
  color: #eee;
  font-size: 1.25rem;
}

.nav-header {
  background-color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.links {
  height: 8rem;
  overflow: hidden;
  transition: all linear 0.3s;
}

.revel-links {
  height: 8rem;
}

.links li {
  list-style: none;
}

/* TODO - Change color to white once background image is found. */
.links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #444444;
  display: block;
  transition: all linear 0.3s;
}

.about-section {
  margin-top: 1rem;
}

.about-center {
  text-align: center;
}

.about-center h3::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 200px;
  height: 5px;
  margin: 0 auto;
}

.about-center p {
  width: 80%;
  margin: 1.5rem auto;
}

/* Destinations tab layout */

.destinations-section {
  padding-top: 5em;
  width: 95%;
  margin: 0 auto;
}

.destinations-header {
  text-align: center;
}
.destinations-header::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 275px;
  height: 5px;
  margin: 0 auto;
}

.tab {
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.tab-btn {
  width: 100%;
  height: 45px;
  border: none;
}

.tab-btn:hover {
  transition: background-color 0.5s ease-out;
  background-color: white;
  cursor: pointer;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: 20px;
}

.tab-btn:nth-child(3) {
  border-top-right-radius: 20px;
}

.information {
  background: lightgrey;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
}

.info {
  display: none;
}

.info.active {
  display: block;
}

@media screen and (min-width: 800px) {
  .nav {
    background-color: #999999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
  }

  .nav-header {
    margin-left: 0.5rem;
    display: flex;
  }

  .links {
    display: flex;
    justify-content: space-around;
    width: 40vw;
  }

  .links li {
    list-style: none;
  }

  /* TODO - Change color to white once background image is found. */
  .links a {
    text-decoration: none;
    color: #444444;
  }

  .about-section {
    margin-top: 8rem;
  }

  .about-center {
    text-align: center;
  }

  .about-center h3::after {
    content: "";
    display: block;
    background: lightcoral;
    width: 200px;
    height: 5px;
    margin: 0 auto;
  }

  .about-center p {
    width: 80%;
    margin: 1.5rem auto;
  }

  /* Destinations tab layout */

  .destinations-section {
    padding-top: 5em;
    width: 600px;
    margin: 0 auto;
  }

  .destinations-header {
    text-align: center;
  }
  .destinations-header::after {
    content: "";
    display: block;
    background: lightcoral;
    width: 275px;
    height: 5px;
    margin: 0 auto;
  }

  .tab {
    border-radius: 10px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
  }

  .tab-btn {
    width: 100%;
    height: 45px;
    border: none;
  }

  .tab-btn:hover {
    transition: background-color 0.5s ease-out;
    background-color: white;
    cursor: pointer;
  }

  .tab-btn:nth-child(1) {
    border-top-left-radius: 20px;
  }

  .tab-btn:nth-child(3) {
    border-top-right-radius: 20px;
  }

  .information {
    background: lightgrey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1rem;
  }

  .info {
    display: none;
  }

  .info.active {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .destinations-section {
    width: 800;
  }
}
