*,
::before,
::after {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  color: #333333;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

html {
  background: #fff;
}

body {
}

/* nav bar */
.logo-name {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin: 0 1rem;
}

.nav {
  box-shadow: 1px 2px 20px #22222264;
}

.nav-btn {
  background-color: transparent;
  border-color: transparent;
  color: #eee;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-btn:hover {
  color: lightcoral;
  transition: color 0.3s ease-out;
}

.nav-header {
  background-color: #6eb1cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all linear 0.3s;
  background-color: lightblue;
}

.revel-links {
  height: 9.5rem;
}

.links li {
  list-style: none;
  border-radius: 10px;
}

/* TODO - Change color to white once background image is found. */
.links a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #fff;
  display: block;
  transition: all linear 0.3s;
}

.about-section {
  padding-top: 2rem;
  background: linear-gradient(#4da9ffa8, #265580a7), url(./DenverColorado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.about-center h3 {
  color: #fff;
}

.about-center {
  text-align: center;
  margin: 0 auto;
  border: 4px #eee solid;
  border-radius: 15px;
  width: 80%;
  padding: 0.75rem;
}

.about-center h3::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 200px;
  height: 5px;
  margin: 0 auto;
}

.about-center p {
  width: 95%;
  margin: 1.5rem auto;
  color: #fff;
}

/* Destinations tab layout */

.destinations-section {
  padding-top: 5em;
  width: 95%;
  margin: 0 auto;
}

.destinations-header {
  margin: 1.5rem 0;
  text-align: center;
}
.destinations-header::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 275px;
  height: 5px;
  margin: 0 auto;
}

.tab {
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.tab-btn {
  background-color: #6eb1cc;
  color: #fff;
  width: 100%;
  height: 45px;
  border: none;
}

.tab-btn:hover {
  transition: color 0.6s ease-out;
  transition: background-color 0.3s ease-in;
  background-color: #d6f3ff;
  color: #333;
  cursor: pointer;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: 20px;
}

.tab-btn:nth-child(3) {
  border-top-right-radius: 20px;
}

.information {
  background: #d6f3ff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
}

.info {
  display: none;
}

.info.active {
  display: block;
}

.contact-us-section {
  margin: 2rem auto;
  margin-top: 15rem;
  text-align: center;
}

.contact-us-section h3::after {
  content: "";
  display: block;
  background: lightcoral;
  width: 125px;
  height: 5px;
  margin: 0 auto;
}

.contact-us-section p {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 85%;
}

.options {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.option {
  border: 3px #888 solid;
  border-radius: 15px;
  width: 11rem;
  height: 8rem;
  margin: 0.75rem 0;
}

.option h4 {
  color: #333;
  margin: 0.75rem 0;
}

.option i {
  font-size: 4rem;
  color: #222;
}

.option i:hover {
  transition: color 0.2s ease-in;
  color: lightcoral;
}

.footer-section {
  position: relative;
  height: 8rem;
  background-color: #6eb1cc;
  box-shadow: -1px -1px 35px #a5a5a5;
}

.copyright-information {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.copyright-information p {
  color: #fff;
}

/* desktop verision: */
@media screen and (min-width: 800px) {
  .nav {
    background-color: #6eb1cc;
    width: 100%;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
  }

  .nav-btn {
    display: none;
  }

  .nav-header {
    background-color: transparent;
    padding: 1rem;
  }

  .links {
    margin: 1rem 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 50vw;
  }

  .links li {
    border: 2.5px #eee solid;
  }

  .links li:hover {
    background-color: #3ebaeb;
    transition: background-color 0.2s ease-out;
  }

  .about-section {
  }

  /* Destinations tab layout */

  .destinations-section {
    width: 80%;
    padding-top: 5em;
    width: 600px;
    margin: 0 auto;
  }

  .options {
    flex-direction: row;
  }
}

@media only screen and (min-width: 900px) {
  .destinations-section {
    width: 800;
  }
}
